[submodule "rational"]
	path = third-party/boost/rational
	url = git://github.com/boostorg/rational.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "third-party/boost/ublas"]
	path = third-party/boost/ublas
	url = https://github.com/boostorg/ublas.git
	branch = master
